<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Xinyu Li - Welcome</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <header>
            <div class="container" id="title">
                <h1>Xinyuv</h1>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nav</a></li>
                        <li><a href="#">Nav</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="intro">
            <div class="container">
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper velit ac orci condimentum, vel finibus dolor suscipit. Morbi vel lorem augue. Cras id nulla tempor, ullamcorper enim tempor, pellentesque nisi. Donec vitae tellus eu risus sollicitudin mollis. Proin hendrerit velit pellentesque sollicitudin suscipit. Nulla rutrum dolor est, non tristique elit sagittis id. Maecenas est risus, blandit a feugiat sed, laoreet at quam.</p>
            </div>
        </section>

        <section id="todo-list">
            <div class="container">
                <h1>To-Do List</h1>
                <form>
                    <input type="text" placeholder="TO-DO">
                </form>
            </div>

        </section>

    </body>
</html>
